<link rel="import" href="../lib/paper-item/paper-item.html">

<polymer-element name="buggy-implementation-item" attributes="data appState">
  <template>
    <style>
      paper-item::shadow core-icon{
        color: #ddd;
      }
    </style>
    <paper-item class="{{data.type}}" label="{{data.name}}" icon="{{icon}}" on-click="{{activate}}"></paper-item>
  </template>
  <script>
  Polymer({
    ready: function(){
      if(this.data.atomic){
        this.icon = "check-circle-blank";
      } else {
        this.icon = "extension";
      }
    },
    activate: function(){
      this.appState.active = this.data;
      console.log(this.data);
    }
  });
  </script>
</polymer-element>
