
<link rel="import" href="card.html">
<link rel="import" href="description.html">
<link rel="import" href="../lib/paper-shadow/paper-shadow.html">
<link rel="import" href="../lib/ace-element/ace-element.html">
<link rel="import" href="../lib/core-toolbar/core-toolbar.html">
<link rel="import" href="../lib/core-icon/core-icon.html">
<link rel="import" href="../lib/paper-icon-button/paper-icon-button.html">

<polymer-element name="buggy-implementation-view" attributes="implementation">
  <template>
    <link rel="stylesheet" href="../styles/components/implementation-view.css">
    <div content>
      <h1>{{implementation.name}}<small> (implements {{implementation.symbol}})</small></h1>
      <core-toolbar>
        <div flex>
          {{implementation.language}}
        </div>
        <paper-icon-button icon="menu"></paper-icon-button>
      </core-toolbar>

      <div preview>
        <div ace-container>
          <ace-element fontSize="13pt" value="{{implementation.implementation}}"></ace-element>
        </div>
      </div>
      <div description>
        <buggy-description description="{{implementation.description}}"></buggy-description>
      </div>
    </div>
  </template>
  <script>
  Polymer({
    name: "NAME!",
    code: "abc = function(){return 3;};",
    description: "A very **smart** text should be here"
  });
  </script>
</polymer-element>
