<link rel="import" href="../lib/core-ajax/core-ajax.html">

<polymer-element name="buggy-source-service" attributes="sources">
  <template>
    <core-ajax id="ajax"
      auto
      url="../public/semantics.json"
      on-core-response="{{sourceLoaded}}"
      handleAs="json"
    ></core-ajax>
  </template>
  
  <script>
  Polymer({
    created: function(){
      this.sources = [];
    },
    sourceLoaded: function(){
      this.sources.push(this.$.ajax.response);
    }
  });
  </script>
</polymer-element>
