
$content-width: 700px;

core-toolbar {
  width:$content-width;
  background-color: #72d572;
}

div[content]{
  width: $content-width;
  height: 50px;

  h1{
    padding-left: 20px;
    small {
      font-weight: 200;
    }
  }
}

div[preview]{
  width:$content-width;
  height:($content-width*9/16);
}

div[ace-container]{
  width:$content-width;
  height:($content-width*9/16);
  position:absolute;
}

div[description]{
  background-color: white;
  padding: 20px;
}
